/*CSSnow by Nodws - https://codepen.io/nodws/pen/dPbWOze */
.cssnow {
   pointer-events: none;
   position: absolute;
}

.cssnow span {
   display: block;
   background: #fff;
   border-radius: 50%;
   width: 9px;
   height: 12px;
   box-shadow: -100px -290px 0px -2px #fff5;
 rotate: 35deg;
  filter:blur(3px)
}

@keyframes cssnowflakes-fall {
   0% {
      top: -10%;
   }

   100% {
      top: 100%;
   }
}

@keyframes cssnowflakes-shake {
   0% {
      transform: translateX(0px);
   }

   50% {
      transform: translateX(80px);
   }

   100% {
      transform: translateX(0px);
   }
}

.cssnow span {
   position: fixed;
   top: -10%;
   z-index: 9999;
   animation-name: cssnowflakes-fall, cssnowflakes-shake;
   animation-duration: 10s, 3s;
   animation-timing-function: linear, ease-in-out;
   animation-iteration-count: infinite, infinite;
   animation-play-state: running, running;
}

.cssnow span:nth-of-type(0) {
   left: 1%;
   animation-delay: 0s, 0s;
}

.cssnow span:nth-of-type(1) {
   left: 10%;
   animation-delay: 1s, 1s;
  scale:2
}

.cssnow span:nth-of-type(2) {
   left: 20%;
   animation-delay: 6s, 0.5s;
}

.cssnow span:nth-of-type(3) {
   left: 30%;
   animation-delay: 4s, 2s;
}

.cssnow span:nth-of-type(4) {
   left: 40%;
   animation-delay: 2s, 2s;
   
}

.cssnow span:nth-of-type(5) {
   left: 50%;
   animation-delay: 8s, 3s;scale:3
}

.cssnow span:nth-of-type(6) {
   left: 60%;
   animation-delay: 6s, 2s;scale:3;
  filter:blur(5px)
}

.cssnow span:nth-of-type(7) {
   left: 70%;
   animation-delay: 2.5s, 1s;
}

.cssnow span:nth-of-type(8) {
   left: 80%;
   animation-delay: 1s, 0s;
}

.cssnow span:nth-of-type(9) {
   left: 90%;
   animation-delay: 3s, 1.5s;
}