<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Falling Holidays" lan="LAN_PLUGIN_FHS_NAME" version="2.0" date="2024-12-26" compatibility="2.0" installRequired="true" >
	<author name="LaocheXe" url="http://defiantz.org" />
	<contributors>
    	<contributor name="Jimmi08" url="https://github.com/Jimmi08" />
    </contributors>
	<summary lan="LAN_PLUGIN_FHS_SUMMARY">This has Smashable Christmas Lights and 3D Snow falling.</summary>
	<description lan="LAN_PLUGIN_FHS_DESCRIPTION">Adapted from XLSF 2007 as originally used on schillmania.com. Snowflakes are moving in 3D manner and if you move mouse on left snowflakes will rotate to left. Same thing function for other directions and was made by JSSnow.</description>
	<keywords>
		<word>christmas</word>
		<word>lights</word>
		<word>snow</word>
		<word>holiday</word>
		<word>fireworks</word>
	</keywords>
	<category>misc</category>
	<copyright>GNU General Public License v2</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="/images/icon_32.png" iconSmall="/images/icon_16.png" icon128="/images/icon_128.png" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name='XMasLights'>0</pref>
		<pref name='LightsSize'>pico</pref>
		<pref name='LightsTop'>50px</pref>
		<pref name='SnowActive'>0</pref>
		<pref name='snowAutoStart'>0</pref>
		<pref name='snowAnimationInterval'>33</pref>
		<pref name='snowFlakesMax'>128</pref>
		<pref name='snowFlakesMaxActive'>64</pref>
		<pref name='snowFollowMouse'>0</pref>
		<pref name='snowFreezeOnBlur'>0</pref>
		<pref name='snowColor'>#FFFFFF</pref>
		<pref name='snowCharacter'>*</pref>
		<pref name='snowStick'>0</pref>
		<pref name='snowMeltEffect'>0</pref>
		<pref name='snowTwinkleEffect'>0</pref>
		<pref name='snowPositionFixed'>0</pref>
		<pref name='snowExcludeMobile'>0</pref>
		<pref name='fmcsfCount'>50</pref>
		<pref name='fmcsfColor'>White</pref>
		<pref name='FireWorksActive'>0</pref>
		<pref name='fmnyfwColor1'>#FF5733</pref>
		<pref name='fmnyfwColor2'>#FFC300</pref>
		<pref name='fmnyfwColor3'>#DAF7A6</pref>
		<pref name='fmnyfwColor4'>#C70039</pref>
		<pref name='fmnyfwColor5'>#900C3F</pref>
		<pref name='fmnyfwColor6'>#581845</pref>
		<pref name='fmnyfwParticleCount'>100</pref>
		<pref name='fmnyfwGravity'>0.05</pref>
		<pref name='fmnyfwSpeedMin'>2</pref>
		<pref name='fmnyfwSpeedMax'>8</pref>
		<pref name='fmnyfwRadiusMin'>2</pref>
		<pref name='fmnyfwRadiusMax'>6</pref>
		<pref name='fmnyfwInterval'>750</pref>
		<pref name='cssZIndex'>9999</pref>
	</pluginPrefs>
</e107Plugin>