<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Falling Holidays" lan="LAN_PLUGIN_FHS_NAME" version="1.5" date="2017-12-4" compatibility="2.0" installRequired="true" >
	<author name="LaocheXe" url="http://defiantz.org" />
	<contributors>
    	<contributor name="Jimmi08" url="https://github.com/Jimmi08" />
    </contributors>
	<summary lan="LAN_PLUGIN_FHS_SUMMARY"></summary>
	<description lan="LAN_PLUGIN_FHS_DESCRIPTION"></description>
	<keywords>
		<word>christmas</word>
		<word>lights</word>
		<word>snow</word>
		<word>snowstorm</word>
		<word>3dsnow</word>
		<word>fun</word>
		<word>halliday</word>
	</keywords>
	<category>misc</category>
	<copyright>GNU General Public License v2</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="/images/icon_32.png" iconSmall="/images/icon_16.png" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name='XMasLights'>0</pref>
		<pref name='LightsSize'>pico</pref>
		<pref name='LightsTop'>50px</pref>
		<pref name='SnowActive'>0</pref>
		<pref name='snowAutoStart'>0</pref>
		<pref name='snowAnimationInterval'>33</pref>
		<pref name='snowFlakesMax'>128</pref>
		<pref name='snowFlakesMaxActive'>64</pref>
		<pref name='snowFollowMouse'>0</pref>
		<pref name='snowFreezeOnBlur'>0</pref>
		<pref name='snowColor'>#FFFFFF</pref>
		<pref name='snowCharacter'>*</pref>
		<pref name='snowStick'>0</pref>
		<pref name='snowMeltEffect'>0</pref>
		<pref name='snowTwinkleEffect'>0</pref>
		<pref name='snowPositionFixed'>0</pref>
		<pref name='snowExcludeMobile'>0</pref>
	</pluginPrefs>
</e107Plugin>